*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
 font-family: 'Outfit';
 background-image:url(../imagens/fundo-site.png);
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 100vh;
}

ul{
    list-style: none;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
}
.cabecalho .titulo{
    color: #f1ecff;
}
.cabecalho .pokebola{
 width: 30px;
 height: 30px;
}

.pokemon-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
     margin: 60px 0px;}

.lista-pokemons{
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta{
 background-color: white;
 width: 70px;
 height: 70px;
 cursor: pointer;
 border-radius: 50px;
 transition: background-color 0,2s ease-in-out;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btn-seta.btn-voltar{
 transform: rotateY(180deg);
}

.btn-seta:hover{
background-color: #838383;
}

.cartão {
    opacity:0;
    background-color:blueviolet;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: pacity 0.3s ease-in-out;
}


.cartão.selecionado{
    opacity:1;
    z-index:1;
}
.fundo-1{
    background-image: url(../imagens/fundo-card-1.jpg);
    background-repeat: no-repeat;
}
.fundo-2{
    background-image: url(../imagens/fundo-card-2.jpg);
    background-repeat: no-repeat;
}
.fundo-3{
    background-image: url(../imagens/fundo-card-3.jpg);
    background-repeat: no-repeat;
}

.cartão.Descrição{
    background-color:rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}